main {
  height: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template: 4rem 1fr / 1fr 1fr;
}

header, 
#text-cnt, 
#image {
  z-index: 1;
}

h1 {
  font-family: sans-serif;
}

header {
  grid-column: 1 / 3;
  padding: 0;
  background-color: #000;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
